<div style="display: table;height: 30vh;width:100%;background-color:#2F3061">
    <div style="display: table-cell; vertical-align: middle;">
        <h1 style="text-align: center;color:#f5faff;font-weight:bold">Secureaty's Mission</h1>
    </div>
</div>

<div style="margin:15px;text-align:center">
    <h1>What is Food Security?</h1>

<span style="font-size: 15px;">Think of the last time you had a filling meal. It was probably a couple hours ago or the other night, right? If so, you have a high sense of food security, or confidence in the next few meals that you will eat to make you strong and healthy. </span>
<br/>
<br/>
<span style="font-size: 15px;">Unfortunately, many people do not have this necessity. While you may think that the less fortunate cannot simply have dessert, it’s sadly more severe than that. Many families with food insecurity have trouble eating breakfast, lunch, and dinner due to restricted resources and funding. To help identify food insecurity, several organizations (such as the USDA) have classified food security into 4 different categories: </span>
<br/>
<br/>
<div style="font-size: 15px;background-color:#258fdb;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">High food security:</span><br/>
    <span style="font-size:15px;font: weight 600;">Very high confidence and no problems accessing a consistent amount of food</span>
</div>
<br/>
<div style="font-size: 15px;background-color:midnightblue;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Marginal food security:</span><br/>
    <span style="font-size:15px;font: weight 600;">A few problems or lowered confidence in being able to access all meals, but the quality of the food was not decreased</span>
</div>
<br/>
<div style="font-size: 15px;background-color:#2F3061;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Low food security:</span><br/>
    <span style="font-size:15px;font: weight 600;">Problems with the quality of the food being decreased, but the amount of food was not affected.</span>
</div>
<br/>
<div style="font-size: 15px;background-color:black;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Very low food security:</span><br/>
    <span style="font-size:15px;font: weight 600;">Several problems at any point in the year where a household cannot access or afford adequate food and food intake was affected.</span>
</div>
<br/>
<br/>
<span style="font-size:15px">Many people today believe that food insecurity affects certain racial or ethnic groups, but that’s actually far from the truth. There is no identifying characteristic of people who are food insecure as it affects those with the economic or social limitations. </span>
<br/>
<br/>
<h1>The Numbers</h1>
<span style="font-size:15px">According to Feeding America, around 11% of Americans are food insecure. That number may not seem that high, but is actually about 40 million Americans. Outside of the country, the number only grows around the world as more and more people are unable to access food due to economic, physical, or social limitations.</span>
<br/>
<br/>
<h1>How Secureaty Helps</h1>
<span style="font-size:15px">Secureaty provides a platform for volunteers, food sponsors, and anyone who is food insecure to connect and fulfill food requests. Kiosks allow for anyone who may not have a technology device to log in to the website and request certain meals of their liking from a generous food sponsor. After that, volunteers can sign up with a sponsor to donate or help distribute food items, and the connection will become more personal.</span>
<br/>
<br/>
<span style="font-size:15px;">We collect data on the user's current location (if they permit the browser to do so) to allow automatic directions to the nearest location to be shown. Sponsors can also control their distribution area by editing the address in their control panel (given they are logged into the account that created the organization).</span>  
<br/>
<br/>
<h1>Learn More</h1>
<div style="text-align: center;">
    <a title="You will be brought to a non-Secureaty webpage. Stay safe!" href="https://www.ifpri.org/topic/food-security" class="button-dark">IFPRI</a>
    <a title="You will be brought to a non-Secureaty webpage. Stay safe!" href="https://www.ifpri.org/topic/food-security" class="button-dark">USDA</a>
    <a title="You will be brought to a non-Secureaty webpage. Stay safe!" href="https://www.ifpri.org/topic/food-security" class="button-dark">Feeding America</a>
</div>
<br/>
<br/>
</div>