<div style="display: table;height: 30vh;width:100%;background-color:#2F3061">
    <div style="display: table-cell; vertical-align: middle;">
        <h1 style="text-align: center;color:#f5faff;font-weight:bold">Find Your Sponsor</h1>
    </div>
</div>
<div style="margin-top: 10px;text-align: center;">
    <h1 style="text-align: center;">Find Your Sponsor</h1>
    <hr/>
    <h3>Dinner</h3>
    <form>
        <div style="text-align: center;">
            <div style="display:inline-block;margin:5px">
                <input type="radio" id="dnr-vegetarian-n" name="dnr-vegetarian" value="1">
                <label for="dnr-vegetarian-n">Not Vegetarian</label>
            </div>
            <div style="display:inline-block;margin:5px">
                <input type="radio" id="dnr-vegetarian-p" name="dnr-vegetarian" value="0" checked>
                <label for="dnr-vegetarian-p">No Preference</label>
            </div>
            <div style="display:inline-block;margin:5px">
                <input type="radio" id="dnr-vegetarian-y" name="dnr-vegetarian" value="-1">
                <label for="dnr-vegetarian-y">Vegetarian</label>
            </div>
        </div>
        <input type="submit" value="submi"/>
    </form>
    
    
</div>
