<div style="display: table;height: 30vh;width:100%;background-color:#2F3061">
    <div style="display: table-cell; vertical-align: middle;">
        <h1 style="text-align: center;color:#f5faff;font-weight:bold">Guide</h1>
        <h3 style="text-align: center;color:#f5faff;font-weight:bold">This page was specially made for Kurius judging</h3>
    </div>
</div>
<br/>
<div style="text-align: center;">
    <h1>KuriusHacks Christmas Edition</h1>
<span style="font-size: 15px;color:#2F3061">This website was made exclusively for the KuriusHacks Christmas Edition Hackathon. Any and all resources were produced between 28/12/2020 and 30/12/2020 during the specified time periods.</span>
<br/>
<br/>
<div style="font-size: 15px;background-color:#258fdb;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Challenge 1 &#10003;:</span><br/>
    <span style="font-size:15px;font: weight 600;">Secureaty is a platform dedicated to connecting the less fortunate to food sponsors using methods described above!</span>
</div>
<br/>
<div style="font-size: 15px;background-color:darkgray;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Challenge 2 &#10008;:</span><br/>
    <span style="font-size:15px;font: weight 600;">Secureaty does not meet the requirements for this challenge</span>
</div>
<br/>
<div style="font-size: 15px;background-color:darkgray;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">Challenge 3 &#10008;:</span><br/>
    <span style="font-size:15px;font: weight 600;">Secureaty does not meet the requirements for this challenge</span>
</div>
<br/>
<div style="font-size: 15px;background-color:darkgray;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <span style="font-size:25px;font: weight 600;margin-bottom:5px">EchoAR Challenge &#10008;:</span><br/>
    <span style="font-size:15px;font: weight 600;">Secureaty does not meet the requirements for this challenge</span>
</div>
<br/>
<br/>
<h2>Main Features</h2>
<span style="font-size: 15px;color:#2F3061">Below are several features that ARE in this demonstration. Most of the descriptions above are part of the idea that could be taken further than 48 hour development time. Please feel free to test out any one of these features.</span>
<br/>
<br/>
<ul>
    <li style="font-size: 20px;">Custom made secure account system (no email)</li>
    <li style="font-size: 20px;">CRUD functions on different volunteer, user, sponsor, request, and dish objects</li>
    <li style="font-size: 20px;">Somewhat mobile friendly interface</li>
    <li style="font-size: 20px;">Ability to track the directions of the current user to the sponsor location</li>
    <li style="font-size: 20px;">Dish searching system based on preferences</li>
    <li style="font-size: 20px;">Ability for anyone to volunteer or sponsor</li>
    <li style="font-size: 20px;">No framework UI design</li>
</ul>
<br/>
<br/>
<h2>Sample Resources</h2>
<span style="font-size: 15px;color:#2F3061">I have included 2 sample accounts below, but feel free to register for some more if you would like. All of the passwords are hashed in the database, but if you are going to register, please DO NOT use a serious password (there are absolutely no checks on what your password may be). A couple good things to test out on the account system is the way that certain things are authenticated when creating sponsors between different users. The first account on the list is the one with superuser permissions (can override the permission checks on if a user owns a sponsor)</span>
<br/>
<br/>
<div style="font-size: 15px;background-color:#258fdb;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <label for="sampleUsername2">Username</label>
    <input type="text" id="sampleUsername1" class="form-input" style="display: inline-block;margin-right:10px" value="NewYear" disabled/>
    <label for="sampleUsername2">Password</label>
    <input type="text" id="sampleUsername2" class="form-input" style="display: inline-block;margin-left:10px" value="2021" disabled/>
    
</div>
<br/>
<div style="font-size: 15px;background-color:#2F3061;color:white;width:60vw;word-wrap:normal;padding:10px;margin:5px;border-radius:6px;display:inline-block">
    <label for="sampleUsername2">Username</label>
    <input type="text" id="sampleUsername1" class="form-input" style="display: inline-block;margin-right:10px" value="SpongebobSquare" disabled/>
    <label for="sampleUsername2">Password</label>
    <input type="text" id="sampleUsername2" class="form-input" style="display: inline-block;margin-left:10px" value="Pants" disabled/>
    
</div>
<br/>
<br/>
<h2>Security</h2>
<span style="font-size: 15px;color:#2F3061">Like most other quick hacks, this app did NOT have proper security practices in mind while creating it. The only thing that was specially prepared to be secure was the account system database storage. Please do not insert personal information on this demo website anywhere as all of it is accessible in the long winding console.log's and the database. Personally, if you are going to utilize the CRUD functionality, please use memes or inside jokes as the values.</span>
<br/>
<br/>
<span style="font-size: 15px;color:#2F3061">In testing, I found that Google Chrome works a LOT better than Safari does, so please keep that in mind if a browser is restricting a feature due to security issues.</span>
<br/>
<br/>
<span style="font-size: 15px;color:#2F3061">Lastly in security, you may find several keys left out of the .ENV file. This is due to mostly time, but I have tied down all loose billing ends so I am using all free resources!</span>
<br/>
<br/>
<h1 style="color:#2F3061">Thanks!</h1>
<br/>


</div>
