<div style="display: table;height: 100vh;width:100%;background-color:#2F3061">
  <div style="display: table-cell; vertical-align: middle;">
    <h1 style="text-align: center;color:#f5faff;font-weight: 600;font-size:40px">Welcome!</h1>
    <h3 style="text-align: center;color:#f5faff;font-weight: 600;font-size:30px">Please find what you need...</h3>
    <div style="text-align: center;">
      <a class="button-white" style="cursor:pointer;" href="/volunteer" value="Volunteer">Volunteer</a>
      <a class="button-white" style="cursor:pointer;" href="/find" value="Find a Meal">Find a Meal</a>
      <a class="button-white" style="cursor:pointer;" href="/startsponsoring" value="Sponsor">Sponsor</a>
      <a class="button-white" style="cursor:pointer;" href="/about" value="About">About</a>
    </div>
    
  </div>
</div>


