<div style="display: table;height: 100vh;width:100%;background-color:#2F3061">
  <div style="display: table-cell; vertical-align: middle;">
    <h1 style="text-align: center;color:#f5faff;font-weight: 600;font-size:40px">Welcome!</h1>
    <h3 style="text-align: center;color:#f5faff;font-weight: 600;font-size:30px">Please find what you need...</h3>
    <div style="text-align: center;">
      <a class="button-white" style="cursor:pointer;" href="/volunteer" value="Volunteer">Volunteer</a>
      <a class="button-white" style="cursor:pointer;" href="/find" value="Find a Meal">Find a Meal</a>
      <a class="button-white" style="cursor:pointer;" value="Sponsor">Sponsor</a>
      <a class="button-white" style="cursor:pointer;" value="About">About</a>
    </div>
    
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button id="testButton">Sponsor</button>
<button id="testButton2">Dish</button>
<script>
  $("#testButton").click(function(e){
    $.ajax({
      type: "POST",
      url: "/api/sponsor/create",
      data: {name: 'KuriusHacks CE', address: '10400 Trailwood Rd, Plymouth, MI'},
      dataType: 'json',
      success: function(result){
          console.log(result);
      }
    });
  })
  $("#testButton2").click(function(e){
    $.ajax({
      type: "POST",
      url: "/api/dish/create",
      data: {sponsorId: '5fec09aed6a796044e0e896d', name: 'Eggnog', sweetness: 4, fruity: false, vegetarian: true, strength: 3, liquid: true, smooth: true, lactose: true, gluten: true},
      dataType: 'json',
      success: function(result){
          console.log(result);
      }
    });
  })
  
</script>
