<div style="display: table;height: 30vh;width:100%;background-color:#2F3061">
    <div style="display: table-cell; vertical-align: middle;">
        <h1 style="text-align: center;color:#f5faff;font-weight:bold">Volunteer Nearby</h1>
    </div>
</div>
<h1>Hello!</h1>